*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Tarea2/build/
/Tarea2/nbproject/private/
/Tests/build/
/Tests/nbproject/private/
/Tarea5_Jahaziel/nbproject/private/